/*****************************************************************************
/*****************************************************************************
                         /*** General **/
/*****************************************************************************
/*****************************************************************************/

body{
	 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	 background: url("../img/crossword.png"); !important
   background-repeat: repeat;
   padding-top: 70px;
   /* background-color: green; */
}


.white-box{
	background-color: #FFF;
	padding: 0px;
	color: #333;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.075);
	border: 1px solid #DADADA;
}


.box-text{
padding-left: 25px;
padding-right: 25px;
}


p.normal{
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
}

.abstract {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: justify;
}



/* h3 { */
/*     font-size: 24.5px; */
/* } */
/*  */
/* h1, h2, h3 { */
/*     line-height: 40px; */
/* } */
/* h1, h2, h3, h4, h5, h6 { */
/*     margin: 10px 0px; */
/*     font-family: inherit; */
/*     font-weight: bold; */
/*     line-height: 20px; */
/*     color: inherit; */
/*     text-rendering: optimizelegibility; */




/*****************************************************************************
/*****************************************************************************
                         /*** Table Styles **/
/*****************************************************************************
/*****************************************************************************/


@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);


.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}



.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 920px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px; 
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:12px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

/*****************************************************************************
/*****************************************************************************
                         /*** 
                         paginator **/
/*****************************************************************************
/*****************************************************************************/

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #080808;

}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #9D9D85;
  border-color: #9D9D85;
}
/*****************************************************************************
/*****************************************************************************
                         /*** 
                         Search Form **/
/*****************************************************************************
/*****************************************************************************/
#custom-search-input {
        margin:0;
 /*       margin-top: 10px;*/
        padding: 0;
        float: left;
        width: 150px;
        height: 27px;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

/*****************************************************************************
/*****************************************************************************
                         /*** 
                         Elements over Table **/
/*****************************************************************************
/*****************************************************************************/
#up{
  height:40px
}
#searchlabel{
  float:right; 
  margin-top: 20px;
  margin: 20px 100px 0px 0px;
}
#middle{
  height:30px
}
#result_count{
  float:right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 22px;
}
.paginate {
  float:left; 
  margin:-20

}
#title_of_table {
  float:left
}
#over_table{
  width: 965px;
  padding: 0px 0px 30px 0px;
}